* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  width: 88%;
  height: 800px;
  box-shadow: 5px 5px 16px -1px rgba(0,0,0,0.35);
  display: flex;
  flex-direction: column;
}

.container-left, .container-right {
  width: 100%;
}

.container-left{
  height: 45%;
  background: linear-gradient(to bottom, #7857FF 0%, #2e2be9 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.container-left__title {
  margin-top: 10px;
  font-size: 1.2rem;
}

.container-left__score{
  background: linear-gradient(to bottom, #4e21ca 0%, #2421ca00 100%);
  height: 140px;
  width: 140px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-left__score:hover{
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 6px 5px 29px 13px rgba(255,255,255,0.54);
  transition : box-shadow ease-in-out 1s;
}

.container-left__score span:nth-child(1){
  font-size: 3.5rem;
  font-weight: 800;
}

.container-left__score span:nth-child(2){
  font-size: 1rem;
  font-weight: bold;
  color: #959599;
}

.container-left__message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-left__message span {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.container-left__message p {
  text-align: center;
  padding: 0 40px;
  margin-bottom: 30px;
}

.container-right {
  height: 55%;
}

.right-wrapper {
  margin: 20px 30px;
}

.summary-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.summary-items {
  display: flex;
  flex-direction: column;
}

.summary-legend {
  display: flex;
}

.summary-item__title {
  margin-left: 15px;
  font-weight: bold;
}

.summary-item {
  background-color: #959599;
  margin: 8px 0;
  border-radius: 10px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.summary-item:nth-child(1) {
  background-color: rgb(255, 87, 87, 0.1);
}

.summary-item:nth-child(1):hover {
  background-color: rgb(255, 87, 87, 0.2);
}

.summary-item:nth-child(1) .summary-item__title {
  color: rgb(255, 87, 87, 0.8);
}

.summary-item:nth-child(2) {
  background-color: rgb(255, 176, 31, 0.1);
}

.summary-item:nth-child(2):hover {
  background-color: rgb(255, 176, 31, 0.2);
}

.summary-item:nth-child(2) .summary-item__title{
  color: rgb(255, 176, 31, 0.8);
}

.summary-item:nth-child(3) {
  background-color: rgb(45, 189, 145, 0.1);
}

.summary-item:nth-child(3):hover {
  background-color: rgb(45, 189, 145, 0.2);
}

.summary-item:nth-child(3) .summary-item__title {
  color: rgb(45, 189, 145, 0.8);
}

.summary-item:nth-child(4) {
  background-color: rgb(45, 52, 142, 0.1);
}

.summary-item:nth-child(4):hover {
  background-color: rgb(45, 52, 142, 0.2);
}

.summary-item:nth-child(4) .summary-item__title {
  color: rgb(45, 52, 142, 0.8);
}

.summary-item__score{
  font-weight: bold;
}

.summary-item__score span:nth-child(2){
  margin: 0 7px;
  color: #959599;
}

.summary-item__score span:nth-child(3){
  color: #959599;
}

.summary-button {
  width: 100%;
  border: none;
  margin-top: 15px;
  height: 55px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(48, 59, 89);
}

.summary-button:hover {
  background-color: rgb(72, 88, 131);
}

@media (min-width: 769px) {
  .component {
    height: 550px;
    width: 800px;
    flex-direction: row;
    border-radius: 30px;
  }

  .container-left, .container-right {
    width: 50%;
  }
  
  .container-left{
    height: 100%;
    border-radius: 30px;
  }

  .container-left__title {
    margin-top: 0px;
    font-size: 1.5rem;
  }

  .container-left__score{
    height: 220px;
    width: 220px;
  }
  
  .container-left__score span:nth-child(1){
    font-size: 5rem;
  }
  
  .container-left__score span:nth-child(2){
    font-size: 1.2rem;
  }

  .container-left__message span {
    font-size: 2rem;
  }
  
  .container-left__message p {
    font-size: 1.2rem;
    padding: 0 60px;
  }

  .right-wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }

  .summary-title {
    font-size: 1.5rem;
    margin-top: 45px;
    margin-bottom: 20px;
  }

  .summary-items {
    margin-bottom: 20px;
  }

  .summary-item {
    height: 65px;
    font-size: 1.2rem;
  }
}